.container {
  :global(.ant-drawer-body) {
    padding: 16px;
  }
  .content {
    display: flex;
    flex-direction: column;
    >.segmented {
      width: fit-content;
      height: fit-content;
      margin-bottom: 6px;
    }
    >.app >div {
      height: calc(100vh - 74px);
      overflow: hidden;
      padding: 12px;
      display: flex;
      flex-direction: row;
      >:nth-child(1) {
        width: 30%;
        min-width: 50%;
      }
  
      >:nth-child(2) {
        height: 100%;
        margin-left: 12px;
        margin-right: 12px;
      }
  
      >:nth-child(3) {
        flex: 1;
      }
    }
  }
}